<!-- views/index.ejs -->
<% include partials/head %>

<body>

<% include partials/header %>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>This is it for this mini live demo. If you have any questions, comments or suggestions, you can contact me at rhermoza145@gmail.com</h2>
      </div>

    </div>

<% include partials/footer %>

</body>
</html>